.flag {
  width: 22px;
  height: 22px;
}

.xxx {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.yyy {
  border: 1px solid black;
}

.contenutoCard {
  display: none;

}

.yyy:hover .contenutoCard {
  display: inline;
}